<div class="our-services slick-slider">

  <div class="service-element" *ngFor="let service of services">
    <div class="container">
      <div class="service-element-content">
        <h3 class="h1">
          {{service.title}}
          <span>{{service.subtitle}}</span>
        </h3>
        <p>{{service.body}}</p>
        <a href="{{service.actionUrl}}" class="btn btn-primary">{{service.action}}</a>
      </div>
      <div class="full-bg-image" [ngStyle]="{'background-image': 'url(' + service.background + ')'}"></div>
    </div>
  </div>

</div>
