<div class="right-menu float-right">
  <ul class="header-actions-wrapper float-right">
    <li><a class="icon-search-menu" routerLink="/#" data-search-type="standard"><i class="wicon fa fa-search"></i></a></li>
    <li><a class="icon-cart-menu" routerLink="/shopping-cart"><i class="fa fa-shopping-cart"></i></a></li>
    <li><a routerLink="/login"><i class="fa fa-user" aria-hidden="true"></i></a></li>
    <li class="visible-xs"><a routerLink="/javascript:;" class="icon-home-menu navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-reorder"></i></a></li>
  </ul>
</div>
